In [2]:
import pandas as pd
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

# Load the dataset

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Dheer\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dheer\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df.head()

,text,processed_text,english_only_text
0,@evanderkoogh Carry on sir x,evanderkoogh carri sir x,sir x
1,Me at 8:30 Sunday - Thursday #LoveIslandAU #dr...,sunday thursday loveislandau dramaisland http,
2,Eso demuestra que es una MUJER que se hace res...,eso demuestra que es una mujer que se hace res...,es se con se manipular el de la
3,Place based community led service development ...,place base commun led servic develop address d...,place base led develop address ill health need...
4,@lunachrissy https://t.co/5NdeBckTZz,lunachrissi http,

In [11]:
country1=[]
dataset='Nigeria_tweets_of_interest.csv'
with open(dataset,encoding="utf-8") as file:
    
    for line in file:
        country1.append(line.split('|@|||$|')[2])
df1=pd.DataFrame(country1,columns=['text'])

In [12]:
df1.shape

(666103, 1)

In [13]:
df1['processed_text'] = df1['text'].apply(preprocess_text)

# Filter out non-English words using NLTK's English word corpus
english_words = set(nltk.corpus.words.words())
df1['english_only_text'] = df1['processed_text'].apply(lambda x: ' '.join(w for w in x.split() if w in english_words))
df1=df1[df1['english_only_text']!=""]

In [16]:
df1.head(10)

,text,processed_text,english_only_text
1,@jackdre02 Na code na them nor wan spend money,na code na wan spend money,na code na wan spend money
3,A whole Argentina ðŸ˜©ðŸ˜©ðŸ˜©ðŸ˜©ðŸ˜©,whole argentina,whole
4,Bye Bye Argentina Nigeria Super Eagles over ...,bye bye argentina nigeria super eagl thenff wo...,bye bye super
5,BREAKING NEWS: Messi on the next flight to Spain.,break news messi next flight spain,break news next flight
6,The highest embarrassment ever!! 3 nil!! Jesus...,highest embarrass ever nil jesu christ argenti...,highest embarrass ever nil wast
7,Not bad but i'll pass https://t.co/xJuNLjo8ph,bad pass http,bad pass
10,Humiliation goal Argentina ðŸ‡¦ðŸ‡· 0 v Croatia ðŸ‡­ðŸ‡· ...,humili goal argentina v croatia worldcup,goal v
11,Messi is retiring for real after this.,messi retir real,real
12,LMAO lowkey I like the line sha https://t.co/A...,lmao lowkey like line sha http,like line sha
13,Under your asun watch with captain band Croati...,asun watch captain band croatia argentina worl...,watch captain band

In [15]:
df1.shape

(539685, 3)

In [20]:
pd.DataFrame(df1['english_only_text']).to_csv('nigeria_pp.csv')

In [21]:
pd.DataFrame(df['english_only_text']).to_csv('australia_pp.csv')

In [3]:
country=[]
dataset='Denmark_tweets_of_interest.csv'
with open(dataset,encoding="utf-8") as file:
    
    for line in file:
        country.append(line.split('|@|||$|')[2])
df=pd.DataFrame(country,columns=['text'])

In [4]:

# Define a function to preprocess text data
def preprocess_text(text):
    # Tokenize the text into individual words
    tokens = word_tokenize(text)
    
    # Remove non-alphabetic characters and convert to lowercase
    clean_tokens = [token.lower() for token in tokens if token.isalpha()]
    
    # Remove stop words
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in clean_tokens if not token in stop_words]
    
    # Stem the remaining words using Porter stemmer
    ps = PorterStemmer()
    stemmed_tokens = [ps.stem(token) for token in filtered_tokens]
    
    # Join the stemmed tokens back into a single string
    processed_text = ' '.join(stemmed_tokens)
    
    return processed_text

# Apply the preprocessing function to the text column
df['processed_text'] = df['text'].apply(preprocess_text)

# Filter out non-English words using NLTK's English word corpus
english_words = set(nltk.corpus.words.words())
df['english_only_text'] = df['processed_text'].apply(lambda x: ' '.join(w for w in x.split() if w in english_words))
df=df[df['english_only_text']!=""]

In [5]:
df.head()

,text,processed_text,english_only_text
0,Fredagens glade budskab skriver @Landdistrikte...,fredagen glade budskab skriver landdistrikt og...,glade til de
1,@steph93065 @realDonaldTrump Big parts of the ...,realdonaldtrump big part world find separ abom...,big part world find million live bad sad kidna...
2,Fredagens glade budskab skriver @Landdistrikte...,fredagen glade budskab skriver landdistrikt og...,glade til de
3,"@captlmcook30 @SteveSchmidtSES As a woman, a p...",steveschmidts woman person mix race famili mem...,woman person mix race member could agre r crus...
4,"Wind 0,0 m/s ---. Barometer 1013,18 hPa, Stead...",wind baromet hpa steadi temperatur rain today ...,wind rain today humid

In [6]:
df.shape

(50378, 3)

In [7]:
df.to_csv('denmark_pp.csv')